@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #edf6f9;
    text-decoration: none;
}
.last {
    height: 5rem;
    width: 100%;
    font-size: 1.3rem;
    background-color: #181515ee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
