/* loader.scss */
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #141414; /* Dark background to match typical movie themes */
    color: #fff;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #ff4757; /* Custom color for the loader */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .loader-text {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4757;
    font-family: "Itim",'Roboto', sans-serif;
    text-align: center;
  }
  